<!DOCTYPE html>
<html>
<head>
  <title>Personalize Example</title>
</head>
<body>
  <h1>Personalized Page</h1>
  <p>Experience: <strong><%= variantText %></strong></p>
  <p>Project ID: <%= projectId %></p>
  <p>Experience ID: <%= experiencesId %></p>
  <p>Experience count: <%= count %></p>

	<h2>Content Entry</h2>
	<p>UID: <%= contentEntryUID %></p>
	<p>Title: <%= contentEntryTitle %></p>
	<p>Desc: <%= contentEntryDesc %></p>

</body>
</html>
