<!DOCTYPE html>
<html>
<head>
  <title>Personalize Example</title>
</head>
<body>
  <h1>Personalized Content</h1>
  <p>Project ID: <%= projectId %></p>
  <hr>
  <h2>Experience info</h2>
  <p>Experience : <%= experience %></p>
  <p>Experience ShortUID : <%= experienceShortId %></p>
  <p>Active Variant : <%= experienceActiveVariant %></p>
  <p>Variant Params : <%= experienceVariantParams %></p>
  <p>Variant Alias : <%= experienceVariantAlias %></p>
  <hr>
  <h2>Variant info</h2>
  <p>Variant BaseUID : <%= variantBaseUID %></p>
  <p>Variant Title : <%= variantTitle %></p>
  <p>Variant Description : <%= variantDesc %></p>
  <p>Variant Payload : <%= variantPayload %></p>
  <hr>
  <h2>User agent info</h2>
  <p>UA : <%= userAgentInfo %></p>

</body>
</html>
