<!DOCTYPE html>
<html>
<head>
  <title>Personalize Example</title>
</head>
<body>
  <h1>Personalized Content</h1>
  <p>Project ID: <%= projectId %></p>
  <p>Experience ID: <%= experiencesId %></p>
  <p>Experience count: <%= count %></p>

  <h2>Varient info</h2>
  <p>Base UID: <%= contentBaseUID %></p>
  <p>Variant Params: <%= variantParams %></p>
  <p>Variant Alias: <%= variantAlias %></p>
  <p>Variant Title: <%= contentEntryTitle %></p>
  <p>Variant Desc: <%= contentEntryDesc %></p>

</body>
</html>
