<!DOCTYPE html>
<html>
<head>
  <title>Personalize Example</title>
</head>
<body>
  <h1>Personalized Content</h1>
  <p>Project ID: <%= projectId %></p>
  <hr>
  <h2>Experience info</h2>
  <p>Experience : <%= experience %></p>
  <p>Experience ShortUID : <%= experienceShortId %></p>
  <p>Active Variant : <%= experienceActiveVariant %></p>
  <p>Variant Params : <%= experienceVariantParams %></p>
  <p>Variant Alias : <%= experienceVariantAlias %></p>


</body>
</html>
